<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin - Test de Personalidad</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="bannerAdmin">
        <h1>Panel de Administración</h1>
        <a href="/logout">Cerrar Sesión</a>
    </div>
    <div class="containerAdministrador">
        <div class="preguntaNueva">
            <h2>Agregar Pregunta Nueva</h2>
            <form action="/admin/preguntas" method="post" class="preguntaNuevaInput">
                <input type="hidden" name="accion" value="agregar">
                <!-- <label for="texto">Texto de la Pregunta:</label> -->
                <input type="text" id="texto" name="texto" placeholder="Ingrese una pregunta nueva" required>
                <button class="btnEnviar" type="submit">Agregar Pregunta</button>
            </form>
        </div>
        <div class="preguntaEliminar">
            <h2>Eliminar Pregunta</h2>
            <form action="/admin/preguntas" method="post" class="preguntaEliminarSelect">
                <input type="hidden" name="accion" value="eliminar">
                <!-- <label for="id">Seleccionar Pregunta para Eliminar:</label> -->
                <select id="id" name="id" required>
                    <% preguntas.forEach(pregunta => { %>
                        <option value ="">Seleccionar Pregunta para Eliminar</option>
                        <option value="<%= pregunta.id %>"><%= pregunta.texto %></option>
                    <% }); %>
                </select>
                <button class="btnEnviar" type="submit">Eliminar Pregunta</button>
            </form>
        </div>
        <div class="respuestasRecibidas">

            <h2>Respuestas Recibidas</h2>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Descripción</th>
                    <th>Respuestas</th>
                    <th>Fecha</th>
                </tr>
                <% respuestas.forEach(respuesta => { %>
                    <tr>
                        <td><%= respuesta.nombreempleado %></td>
                        <td><%= respuesta.email %></td>
                        <td><%= respuesta.telefono %></td>
                        <td><%= respuesta.descripcion %></td>
                        <td class="fecha"><%= respuesta.created_at %></td>
                        <td class="respuestas">
                            <ul>
                                <% for (let pregunta in respuesta.respuestas) { %>
                                    <li><strong><%= pregunta %>:</strong> <%= respuesta.respuestas[pregunta] %></li>
                                <% } %>
                            </ul>
                        </td>
                    </tr>
                <% }); %>
            </table>        
        </div>
    </div>
    
</body>
</html>
